.single-character {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.header--single-character {
  width: 100%;
  height: auto;
}

.icon-back_home--single-character {
  width: 40px;
  height: 40px;
  margin: 20px;
  color: #FFFFFF;
}

.container-details--single-character {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.cotainer-img--single-character {
  width: 35%;
  min-width: 300px;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img--single-character{
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 15px;
  object-fit: contain;
  border: 2px solid #ffa500;
  background-color: gray;
}

.info-single-characters {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.name-info--single-character {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 900;
  color: #ffa500;
}

.txt-info--single-character {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
  font-size: 18px;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {

  .icon-back_home--single-character {
    margin: 10px;
  }

  .container-details--single-character {
    flex-wrap: wrap;
  }

  .cotainer-img--single-character {
    min-width: 200px;
    min-height: 200px;
    padding: 2px;
  }

  .info-single-characters {
    width: 100%;
    height: auto;
  }

}
