@import './styles.mobile.css';

.menu {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title--dropdown {
  color: rgb(252, 84, 23);
  font-size: 24px;
  padding: 2px;
}

.list_search--dropdown {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.element_search--dropdown {
  border: 1px solid orange;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.element_search--dropdown:hover > .dropdown {
  display: block;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.active {
  background-color: #080808;
}
/* @media only screen and (max-width: 765px) {
  .menu {
    display: none;
  }
} */



.dropdown {
  width: auto;
  height: auto;
  color: #080808;
  /* border: 1px solid black; */
  background-color: #FFFFFF;
  position: absolute;
  top: 35px;
  left: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px black;
  z-index: 1;
  display: none;
}

.element--dropdown {
  width: 100%;
  height: auto;
  font-size: 18px;
  margin: 4px 0px;
  padding: 0px 8px 0px 4px;
  cursor: pointer;
}

.element--dropdown:hover {
  background-color: #080808;
  color: #FFFFFF;
}

.content_filters--filters {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkorange;
}

.btn-filyrt_actives--filters {
  width: auto;
  height: auto;
  padding: 4px;
  margin: 4px;
}
