.menu {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title--dropdown {
  color: rgb(252, 84, 23);
  font-size: 24px;
  padding: 2px;
}

.list_search--dropdown {
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.element_search--dropdown {
  border: 1px solid orange;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.element_search--dropdown:hover>.dropdown {
  display: block;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.active {
  background-color: #080808;
}

.dropdown {
  width: auto;
  height: auto;
  padding: 4px 2px;
  color: #080808;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 1;
  display: none;
}

.element--dropdown {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding: 0px 10px 0px 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.element--dropdown:hover {
  background-color: #555555;
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.content_filters--filters {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disable-filters_actives--filters {
  width: 40px;
  height: 40px;
}


.btn-filters_actives--filters {
  width: auto;
  height: 40px;
  margin: 0px 4px;
  padding: 0px 20px;
  border: 1px solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  transition-duration: 0.2s;
}

.btn-filters_actives--filters:hover {
  color: #080808;
  background-color: #FFFFFF;
  border: 1px solid #080808;
  cursor: pointer;
}

.container-btn-clean-filters_actives--filters {
  width: auto;
  height: auto;
}

.btn-clean-filters_actives--filters {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
