.error {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.message_error--error {
  width: auto;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 10px black;
}

.txt--error {
  width: auto;
  height: auto;
  margin: 0px 5px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
