.cards__home {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content_card--home {
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  
}

.pagination__home {
  width: 100%;
  height: auto;
  margin: 10px 0px 20px;
  display: flex;
  justify-content: center;
}

/* @media only screen and (max-width: 600px) {
  
} */
