.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search--header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_logo--header {
  width: auto;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

.logo--header {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container_icon-menu--header {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.icon_menu--header {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}

.menu--header{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* @media only screen and (max-width: 735px) {

  .menu--header {
    display: none;
  }
  .menu--header {
    display: block;
    border: 1px solid green;
  }

} */

@media only screen and (max-width: 600px) {
  .header {
    margin: 10px 0px;
  }

  .container_logo--header {
    margin: 10px;
  }

  .logo--header {
    width: 30px;
    height: 30px;
  }

  .container_icon-menu--header {
    margin: 10px;
  }

  .icon_menu--header {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .menu--header {
    display: none;
  }
  .icon_menu--header {
    display: block;
  }
  
}
